
      <%= simple_form_for @site_newsletter,
        :remote => true,
        :method => :post do |f| %>

          <div class="email">
            <%= f.input :email, :placeholder => 'E-mail', :label_html => {class: 'invisible'}  %>
          </div>
          <div class="nome">
            <%= f.input :nome, :placeholder => 'Nome', :label_html => {class: 'invisible'} %>
         </div>
      
         <div class="submit-newsletter">
            <%= f.submit "Cadastrar" %>
         </div>
       <%  end %>
 