<p>
  <b>Nome:</b>
  <%= @contact.name%>
</p>
<p>
  <b>Telefone:</b>
  <%= @contact.telefone%>
</p>
<p>
  <b>Email:</b>
  <%= @contact.email%>
</p>
<p>
  <b>Mensagem:</b>
  <%= @contact.message%>
</p>